<div class='panel panel-primary' style="border: 1px solid black; padding: 10px">
    <div class='panel-heading'>By <b>{comment.name}</b></div>
    <div class='panel-heading'>Likes: <span id="countLiked{comment.id}">{comment.likes}</span> Dislikes: <span id="countDisliked{comment.id}">{comment.dislikes}</span></div>
    <div class='panel-body'>
        {comment.content}
    </div>
    <form method="POST" id="commentForm{comment.id}">
        <div class="form-group">
            <input name="content" id="content" class="form-control" placeholder="Enter Comment" rows="2" required></input>
        </div>
        <span id="message"></span>
        <div class="form-group">
            <input type="submit" name="submit" id="submit" class="btn btn-primary" value="Post Comment" />
        </div>
    </form>
    <div id ="showComments{comment.id}" style="margin: 5px; padding: 5px;"> </div>
    <div class='panel-footer' align='right'>
        <button type='button' class='btn btn-primary' id="likeButton{comment.id}" onclick='likeComment("{comment.id}")'>Like</button>
        <button type='button' class='btn btn-primary' id="likeRemoveButton{comment.id}" onclick='likeRemoveComment("{comment.id}")'>Remove Like</button>
        <button type='button' class='btn btn-primary' id="dislikeButton{comment.id}" onclick='dislikeComment("{comment.id}")'>DisLike</button>
        <button type='button' class='btn btn-primary' id="dislikeRemoveButton{comment.id}" onclick='dislikeRemoveComment("{comment.id}")'>Remove DisLike</button>
        <button type='button' class='btn btn-primary' onclick='showComments("{comment.id}")'>More...</button>
    </div>
</div>

