<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
</head>
<!-- Compiled and minified CSS -->
<div class="comment-thread">
    <h5>Comment System</h5>
    <h6 id="postId" th:text="${postId}"></h6>
    <div id="showComments0"></div>
</div>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/main.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script >

    let postId = $("#postId").html();

    let pageBody = {};

    let highlightClass = "activated";

    function likeComment(commentId) {
        let part = "";
        let count = 1;
        if (pageBody[commentId].liked) {
            part = "/remove";
            count = -1;
        }
        let callUrl =  "/api/v1/" + postId  + "/" + commentId + "/like" + part;
        $.ajax({
            url: callUrl,
            method: "POST",
            success: function(response) {
                let likes = parseInt($("#countLiked" + commentId).html()) + count;
                $("#countLiked" + commentId).html(likes);
                pageBody[commentId].liked = !pageBody[commentId].liked;
                if (pageBody[commentId].liked) {
                    $("#likeButton" + commentId).addClass(highlightClass);
                } else {
                    $("#likeButton" + commentId).removeClass(highlightClass);
                }
            }
        })
    }
    function dislikeComment(commentId) {
        let part = "";
        let count = 1;
        if (pageBody[commentId].disliked) {
            part = "/remove";
            count = -1;
        }
        let callUrl =  "/api/v1/" + postId  + "/" + commentId + "/dislike" + part;
        $.ajax({
            url: callUrl,
            method: "POST",
            success: function(response) {
                let disLikes = parseInt($("#countDisliked" + commentId).html()) + count;
                $("#countDisliked" + commentId).html(disLikes);
                pageBody[commentId].disliked = !pageBody[commentId].disliked;
                if (pageBody[commentId].disliked) {
                    $("#dislikeButton" + commentId).addClass(highlightClass);
                } else {
                    $("#dislikeButton" + commentId).removeClass(highlightClass);
                }
            }
        })
    }

    function showComments(commentId) {
        if (!pageBody[commentId]) {
            pageBody[commentId] = {
                page: -1,
                size: 10,
                empty: false,
                liked: false,
                disliked: false
            }
        }
        if (!pageBody[commentId].empty) {
            pageBody[commentId].page++;
        }
        let callUrl =  "/api/v1/" + postId  + "/" + commentId + "/comments?page=" + pageBody[commentId].page + "&size=" + pageBody[commentId].size;
        $.ajax({
            url: callUrl,
            method:"GET",
            success: function(response) {
                pageBody[commentId].empty = (response.list.length === 0);
                $('#showComments' + commentId).append(getHtml(response.list));
            }
        })
    }

    let HTML_CONTENT = "<div class=\"comment\" id=\"comment-{comment.id}\">\n" +
        "    <details open class=\"comment\" id=\"comment-1\">\n" +
        "        <a href=\"#comment-{comment.id}\" class=\"comment-border-link\">\n" +
        "            <span class=\"sr-only\">Jump to comment-{comment.id}</span>\n" +
        "        </a>\n" +
        "        <summary>\n" +
        "            <div class=\"comment-heading\">\n" +
        "                <div class=\"comment-info\">\n" +
        "                    <a href=\"#\" class=\"comment-author\">{comment.name}</a>\n" +
        "                    <p class=\"m-0\">\n" +
        "                        &bull; {comment.updateOn}\n" +
        "                    </p>\n" +
        "                </div>\n" +
        "            </div>\n" +
        "        </summary>\n" +
        "        <div class=\"comment-body\">\n" +
        "            <p>\n" +
        "                {comment.content}\n" +
        "            </p>\n" +
        "            <button type='button' class=\"tagButton\" id=\"likeButton{comment.id}\"\n" +
        "                    onclick='likeComment(\"{comment.id}\")'><span class=\"count\"\n" +
        "            id=\"countLiked{comment.id}\">{comment.likes}</span> <i class=\"material-icons reduceSize\">thumb_up</i></button>\n" +
        "            <button type='button' class=\"tagButton\" id=\"dislikeButton{comment.id}\"\n" +
        "                    onclick='dislikeComment(\"{comment.id}\")'><span\n" +
        "                    class=\"count\" id=\"countDisliked{comment.id}\">{comment.dislikes}</span> <i\n" +
        "                    class=\"material-icons reduceSize\">thumb_down</i></button>\n" +
        "        </div>\n" +
        "        <form class=\"commentForm\" method=\"POST\" id=\"commentForm{comment.id}\">\n" +
        "            <div class=\"form-group\">\n" +
        "                <input name=\"content\" id=\"content\" class=\"textarea\" placeholder=\"reply\" rows=\"2\"\n" +
        "                       required />\n" +
        "                <input class=\"submit\" type=\"submit\" name=\"submit\" id=\"submit\" value=\"Reply\"/>\n" +
        "            </div>\n" +
        "        </form>\n" +
        "        <div id=\"showComments{comment.id}\" class=\"replies\">\n" +
        "        </div>\n" +
        "        <button class=\"loadMoreReplies\" onclick='showComments(\"{comment.id}\")'>Load more replies</button>\n" +
        "    </details>\n" +
        "</div>";

    function getHandler(commentId) {
        return function handleEvent(event) {
            event.preventDefault();
            var formData = $("#commentForm" + commentId).serializeArray();
            var formDataObject = {};
            $.each(formData,
                function(i, v) {
                    formDataObject[v.name] = v.value;
                });
            formDataObject['name'] = 'test';
            formDataObject['postId'] = postId;
            formDataObject['parentId'] = commentId;
            console.log(formDataObject);
            $.ajax({
                //Post comment
                url: "/api/v1/comment",
                method: "POST",
                data: JSON.stringify(formDataObject),
                contentType: "application/json; charset=utf-8",
                success:function(response) {
                    pageBody[commentId].page = -1;
                    pageBody[commentId].empty = false;
                    $('#showComments' + commentId).html("");
                    prepare(commentId);
                }
            })
        }
    }

    function getHtml(comments) {
        let html = "";
        for (let key in comments) {
            let comment = comments[key];
            let htmlBody = HTML_CONTENT;
            let mainId = comment.id;
            htmlBody = htmlBody.replaceAll("{comment.id}", mainId);
            for (let objKey in comment) {
                htmlBody = htmlBody.replaceAll("{comment." + objKey + "}", comment[objKey]);
            }
            pageBody[mainId] = {
                page: -1,
                size: 10,
                empty: false,
                liked: comment.liked,
                disliked: comment.disliked
            }
            window.setTimeout(function() {
                $('#commentForm' + mainId).on('submit', getHandler(mainId));
                let commentId = mainId;
                if (pageBody[commentId].liked) {
                    $("#likeButton" + commentId).addClass(highlightClass);
                } else {
                    $("#likeButton" + commentId).removeClass(highlightClass);
                }
                if (pageBody[commentId].disliked) {
                    $("#dislikeButton" + commentId).addClass(highlightClass);
                } else {
                    $("#dislikeButton" + commentId).removeClass(highlightClass);
                }
            }, 50);
            html += htmlBody;
        }
        return html;
    }

    function prepare(commentId) {
        showComments(commentId);
    }

    $(document).ready(function(){
        prepare("0");
    });
</script>
</html>